*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Space Mono", monospace;
}
body{
    background: rgb(255, 255, 255);
}

.top-level{
    margin: 1rem;
}

.greetings{
    display: block;
    padding: 1rem;
    line-height: 4rem;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    border-radius:5px ;
    font-size: 12px;
}

@media (max-width: 390px) {
    .greetings {
        width: 100%;
    }
}


.day{
    color: white;
}

.date{
    background: #adff2f;
    padding: 6px;
    border-radius: 5px;
    color: black;
}
.greet-user{
    font-weight: bold;
    background-color: #adff2f;
    color: black;
    padding: 6px;
    border-radius: 5px;
    font-size: 2rem;
}

.workout-data{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: .5rem;
    margin:5px;
    border-radius: 5px;
    font-size: 10px;
    gap: 1rem;
}

.workout-data > li{
    /* background: black; */
    color: white;
    padding: .5rem;
    border-radius: .5rem
}

.workout-intensity{
    background: black;
    color: white;
    padding: 8px;
    border-radius: 8px;
}


.calender{
    display: flex;
    background: #adff2f;
    padding: 2rem;
    margin:5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.header{
    text-align: center;
    background: black;
    color: white;
    margin: 5px;
    padding: 1rem;
    border-radius: 5px;
}

/*main content*/

.selected-workouts{
    margin: 0.5rem;
    color: white;
    font-size: 10px;

 
}
 

.workouts {
    display: grid;
    place-items: center;
    /* max-width: 1700px; */
    /* margin: 0 auto; */
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 1800px) and (max-width: 2048px){
    .workouts {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .workouts {
        grid-template-columns: repeat(2, 1fr);
        margin: 10px; /* Adjust margin as needed */
    }
}

@media (min-width: 900px) and (max-width: 989px) {
    .workouts {
        grid-template-columns: repeat(3, 1fr);
   
    }
}

@media (max-width:1024px){
    .workouts{
        grid-template-columns: repeat(2, 1fr);
    }
}
 


.workouts > .workout{
    position: relative;
    background: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 5px;
    width: 400px;
    /* height: 300px; */
    aspect-ratio: 16 / 10;
    
}

@media (min-width: 360px) and (max-width: 768px){
    .workouts {
        grid-template-columns: repeat(1, 1fr);
        /* Additional styles for this range */
        margin: 1rem;
    }
    .workouts > .workout{
        width: 320px;
        
    }
   
}

@media (min-width: 820px){
    .workouts{
        margin: 1rem;
    }
    .workouts > .workout{
        width: 320px;
        
    }
}

@media (min-width: 768px){
    .workouts > .workout{
        width: 450px;
        
    }
     .selected-workouts{
        font-size: 20px;
    }
}


.workout img {
    width: 100%;
    height: 35%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   

}

.details{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
    opacity: 0.8;
    
}


.details > li{
    padding: 0.5rem;
    margin: 10px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.rest{
    background: black;
    color: white;
}



.desc-container{
    padding: 0.5rem;
    margin-top: 120px;
    

}

.desc{
    text-align: center;
    color: white;
    font-size: medium;
}

.description{
    text-align: left;
    padding: 10px;
    color: white;
    font-size: 12px;
}


.button-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.select-work{
    background: #adff2f;
    color: rgb(0, 0, 0);
    padding: 5px;
    border: none;
    margin: 5px;
    border-radius: 5px;
   
}
.select-work:hover{
    border: 1px solid white;
}

.que{
    position: fixed;
    top: 45%;
    padding: .5rem;
    z-index: 1;
    display: none;
    background: #adff2f;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
}





.remove-button{
    display: none;
    background: rgb(255, 255, 255);
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 12px;
    width: 2rem;
    height: 2rem;

}

.start-workout{

    display: flex;
    justify-content: center;
    align-items: center;

  }  

.start{
    z-index: 9;
    position: fixed;
    top: 80%;
    left: 40%;
    border: none;
    border-radius: 1rem;
    padding: 10px;
    color: rgb(255, 255, 255);
    transform: translate(-50% -50%);
    background: rgba(161, 255, 11, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(87, 248, 24, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(11, 255, 72, 0.54);

}

.customise{
    position: fixed;
    top: 80%;
    left: 30%;
    padding: 10px;
    z-index: 9;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
}

.warning{
    display: none;
    font-weight: bolder;
    color: red;
}

.gifs{
    display: none;
}


/* start workout page*/



.workout-instance{
    padding: 1rem;
    margin: 0.5rem ;
    line-height: 1rem;
    border-radius: 10px;
    
}



.customhub{
    display: none;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    padding: 2rem;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background: rgb(102, 102, 102);
}

.close{
    display: flex;
    justify-content: end;
}

.close > p{
    border-radius: 10px;
}

.close-button{
    border:none;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}

.add{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.add-button{
    border: none;
    padding: .5rem;
    border-radius: 12px;
}

#duration, #workout, #description, #rest{
    border-radius: 12px;
    border: none;
}

.logout{
    padding: 8px;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}